.editor {
  max-width: 732px;
  min-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  & h1,h2,h3,h4,h5,h6 {
    margin-bottom: var(--space-sm);
    letter-spacing: -0.05em;
    font-weight: 900;
    color: var(--color-foreground);
  }

  & h1 {
    font-size: 3.5rem;
    line-height: 1;
  }

  & h2 {
    font-size: 2.75rem;
    line-height: 1;
  }

  & h3 {
    font-size: 2.25rem;
    line-height: 1;
  }

  & h4 {
    font-size: 1.75rem;
    line-height: 1;
  }

  & h5 {
    font-size: 1.5rem;
    line-height: 1;
  }

  & h6 {
    font-size: 1.25rem;
    line-height: 1;
  }

  & p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--space-sm);
    border-left: 0.5rem solid var(--color-foreground);
    font-style: italic;
    margin-bottom: var(--space-sm);
  }

  & ul,
    & ol {
    padding: 0 var(--space-sm);
    list-style: square;
  }

  & code {
    font-family: 'Fira Code', monospace;
    font-size: 0.9rem;
    padding: var(--space-sm);
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 85%);
    border-radius: var(--radius);
  }

}

.highlight {
    background-color: var(--color-primary);
    color: var(--color-foreground);
    font-size: 0.875rem;
    font-weight: 700;
    border-radius: var(--radius);
    padding: var(--space-3xs);
}


