.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin-bottom: var(--space-sm);
  margin-top: var(--space-sm);
  max-width: 732px;
  min-width: 640px;
  width: 90%;
  & p {
    font-size: 0.875rem;
  }
  & .marks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: opacity 0.8s ease-in-out;
  }
}
