.button {
  all: unset;
  border-radius: 0.15rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.25rem 1rem;
  background-color: transparent;
}

.border {
  border: 1px solid hsl(0, 0%, 20%);
}

.default {
  color: var(--color-white);
  &:hover {
    background-color: var(--color-muted);
    color: var(--color-black);
  }
}

.primary {
  background-color: var(--color-primary);
  color: white;
}

