.button {
  all: unset;
  border-radius: var(--radius);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

.default {
  background-color: var(--color-muted-dark);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-muted);
    outline: 1px solid var(--color-muted-dark);
  }
}

.primary {
  background-color: var(--color-primary);
  color: white;
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.secondary {
  background-color: var(--color-secondary);
  color: white;
  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.destuctive {
  background-color: var(--color-destructive);
  color: white;
  &:hover {
    background-color: var(--color-destructive-dark);
  }
}

.ghost {
  background-color: transparent;
  color: var(--color-white);
  &:hover {
    background-color: var(--color-muted-light);
  }
}

.mod {
  &__border {
    border: 1px solid var(--color-muted);
  }
  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.size {
  &__small {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  &__medium {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  &__large {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
  &__icon {
    padding: 0.5rem;
  }
}

