.button {
  all: unset;
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem;
}


.border {
  border: 1px solid hsl(0, 0%, 20%);
}

.default {
  color: var(--color-white);
  &:hover {
    background-color: var(--color-muted);
  }
}

.primary {
  background-color: var(--color-primary);
  color: white;
  &:hover {
    background-color: var(--color-primary-dark);
  }
  &:active {
    background-color: var(--color-primary);
  }
}

