.navigation {
  width: 3rem;
  background-color: var(--color-muted-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm) 0;
  border-right: 1px solid hsla(0, 0%, 99%, 0.1);
  height: calc(100vh - var(--space-lg));
  margin-top: var(--space-lg);

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
  }
}

.menu {
  background-color: var(--color-muted-dark);
  width: 16rem;
  padding: var(--space-sm);
  transition: transform 0.3s ease-in-out;
  height: calc(100vh - var(--space-lg));
  margin-top: var(--space-lg);

  &__items {
    display: flex;
    flex-direction: column;

    &-item {
      cursor: pointer;
      font-size: 0.75rem;
      transition: all 0.15s ease-in-out;
      padding: var(--space-2xs) var(--space-2xs);
      border-radius: var(--radius);

      & li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
        & span {
          opacity: 0;
          transition: opacity 0.15s ease-in-out;
        }
        & div {
          display: flex;
          align-items: center;
          gap: var(--space-xs);
          & p {
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
          }
          & svg {
            flex-shrink: 0;
          }
        }
        &:hover {
          & span {
            opacity: 1;
          }
        } 
      }
    
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-foreground);
      }

    }
  }
}


