@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

:root{
  --color-white: oklch(95.49% 0 0);
  --color-black: oklch(16.25% 0 0);

  --color-muted: oklch(22.23% 0 0);
  --color-muted-light: oklch(67.5% 0 0);
  --color-muted-dark: oklch(19.14% 0 0);

  --color-primary: oklch(58.16% 69.75 15.55);
  --color-primary-light: oklch(61.09% 54.1 8.65);
  --color-primary-dark: oklch(34.42% 56.74 18.59);

  --color-secondary: oklch(47.06% 0.2772 283.62);
  --color-secondary-light: hsl(169, 83%, 66%);
  --color-secondary-dark: hsl(169, 83%, 35%);

  --color-destructive: hsl(0, 70%, 55%);
  --color-destructive-light: hsl(0, 70%, 66%);
  --color-destructive-dark: hsl(0, 70%, 26%);

  --color-success: hsl(120, 70%, 55%);
  --color-warning: hsl(45, 70%, 66%);
  --color-info: hsl(210, 70%, 46%);


  --radius: 0.25rem;
}

html {
  font-family: 'Open Sans';
  color: var(--color-muted-light);
  background-color: var(--color-black);
}

/* utitliy classes */
.container {
  max-width: 732px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


