@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

:root{
  --color-white: hsl(0, 0%, 95%);
  --color-black: hsl(0, 0%, 5%);

  --color-muted: hsl(0, 0%, 10%);
  --color-muted-light: hsl(0, 0%, 50%);
  --color-muted-dark: hsl(0, 0%, 7.5%);

  --color-primary: hsl(345, 75%, 55%);
  --color-primary-light: hsl(345, 75%, 66%);
  --color-primary-dark: hsl(345, 75%, 35%);

  --color-secondary: hsl(169, 83%, 55%);
  --color-secondary-light: hsl(169, 83%, 66%);
  --color-secondary-dark: hsl(169, 83%, 35%);

  --color-destructive: hsl(0, 70%, 55%);
  --color-destructive-light: hsl(0, 70%, 66%);
  --color-destructive-dark: hsl(0, 70%, 26%);

  --color-success: hsl(120, 70%, 55%);
  --color-warning: hsl(45, 70%, 66%);
  --color-info: hsl(210, 70%, 46%);


  --radius: 0.25rem;
}

html {
  font-family: 'Open Sans';
  color: var(--color-muted-light);
  background-color: var(--color-black);
}

/* utitliy classes */
.container {
  max-width: 732px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


